@model Models.TaskComment

<input type="hidden" value="Task" id="hdEntity" />
<input type="hidden" value="TaskTime" id="hdPage" />

<div id="dv_popup" class="dv_popup_visible">
    <form id="frmCreateTaskComment" method="post" action="/Task/CreateTaskComment">
        <h2 id="h2GM" class="h2_tab_title">Add Comment</h2>
        <table id="tblAddTaskComment" class="tbl_entity_table">
            <tr>
                <td colspan="2">
                    @Html.LabelFor(m => m.TaskName, htmlAttributes: new { @class = "lbl_form" })
                    <br />
                    @Html.HiddenFor(m => m.TaskId)
                    @Html.TextBoxFor(m => m.TaskName, htmlAttributes: new { @class = "txt_input_invisible", @readonly = true })
                </td>
                <td>
                </td>
            </tr>   
            <tr>
                <td colspan="2">
                    @Html.LabelFor(m => m.Comment, htmlAttributes: new { @class = "lbl_form" })
                    <br />
                    @Html.TextAreaFor(m => m.Comment, htmlAttributes: new { @class = "txtarea_input_visible" })
                </td>
                <td>
                         
                </td>
            </tr>
        </table>
            <input type="submit" id="btnSaveComment" class="btn_ok" value="Add"  />
            <input type="button" id="btnCancel" class="btn_cancel" value="Cancel" />
    </form>
</div>

        <script>
            $('#btnCancel').click(function () {
                $('#dv_popup').hide();
                $('#dvOverlay').hide();
            });

        </script>