@{
    ViewBag.Title = "IndexTask";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


@model IEnumerable<Models.Task>

<script src="~/Scripts/CustomScripts/common.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#tblEntityList').dataTable({
            "sScrollX": "100%",
            "sScrollXInner": "110%",
            "bRetrieve": true
        });
    });  
</script> 

<input type="hidden" value="Task" id="hdEntity" />
<input type="hidden" value="Index" id="hdPage" />

<div id="dvSectionRight">
    <table id="tblEntityList" class="tbl_entity_list">
        <thead>            
        <tr>
            <th style="width: 10px"><input id="cboxAll" type="checkbox" name="cboxAll" /></th>            
            <th>Name</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Task Number</th>
            <th>Assignee</th>
            <th>Reporter</th>
            <th>Project</th>
            <th>Is Linked</th>
            <th>Created On</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>                
                <td style="width: 10px"><input type="checkbox" name="cboxOne" value="@Html.DisplayFor(m => item.Id)"/></td>
                <td >@Html.ActionLink(item.Name, "gotoUpdateTaskForm", "Task", new { record_id = item.Id }, htmlAttributes: new { @class = "link" })</td>
                <td >@Html.DisplayFor(m => item.StartTime)</td>
                <td >@Html.DisplayFor(m => item.EndTime)</td>
                <td >@Html.DisplayFor(m => item.TaskNumber)</td>
                <td >@Html.ActionLink(item.AssigneeName, "gotoUpdateUserForm", "User", new { record_id = item.AssigneeId }, htmlAttributes: new { @class = "link" })</td>
                <td >@Html.ActionLink(item.ReporterName, "gotoUpdateUserForm", "User", new { record_id = item.ReporterId }, htmlAttributes: new { @class = "link" })</td>
                <td >@Html.ActionLink(item.ProjectName, "gotoUpdateProjectForm", "Project", new { record_id = item.ProjectId }, htmlAttributes: new { @class = "link" })</td>
                <td >@Html.DisplayFor(m => item.IsLinked)</td>
                <td >@Html.DisplayFor(m => item.CreatedOn)</td>
            </tr>
            }
        </tbody>
    </table>
</div>

